<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.id %>" method="POST">
          <div class="form-group">
            <input type="text" name="nombre" value="<%= data.name%>" placeholder="Nombre" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="apellidos" value="<%= data.lname%>" placeholder="Apellidos" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="sexo" value="<%= data.sex%>" placeholder="Sexo" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="fecha_nacimiento" value="<%= data.birth%>" placeholder="Nacimiento" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary">
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
