<%- include('partials/_header'); -%>

 <div class="row">
    <div class="col-md-5">
        <div class="card-body">
          <form action="<%= data.id %>" method="POST">
            <legend>Editar</legend>
            <div class="form-group">
              <input type="date" name="fecha_estreno" value="<%= data.fecha_estreno%>" placeholder="Fecha de estreno" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <input type="text" name="nombre" value="<%= data.nombre%>" placeholder="Nombre" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" name="ranking_estable" value="<%= data.ranking_estable%>" placeholder="ranking estable" min="1" max="10" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="sinopsis" value="<%= data.sinopsis%>" placeholder="Sinopsis" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" name="ranking_caliente" value="<%= data.ranking_caliente%>" placeholder="Ranking caliente" min="1" max="5" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="casa_productora" value="<%= data.casa_productora%>" placeholder="Casa productora" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" name="id_genero" value="<%= data.id_genero%>" placeholder="id genero" min="1" max="15" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </form>
        </div>
      </div>
  </div> 
<%- include('partials/_footer'); -%>